---
Language: Cpp
BasedOnStyle: Microsoft
IndentWidth: 2
TabWidth: 2
UseTab: Always
ColumnLimit: 500
IncludeBlocks: Preserve
BreakBeforeBraces: Custom
DerivePointerAlignment: false
PointerAlignment: Left
ReflowComments: true