---
Language: Cpp
BasedOnStyle: Microsoft
IndentWidth: 2
TabWidth: 2
UseTab: Always
ColumnLimit: 0
IncludeBlocks: Preserve
BreakBeforeBraces: Custom
DerivePointerAlignment: false
PointerAlignment: Left
ReflowComments: true
---
Language: Proto
BasedOnStyle: Google
...